<h1>Empréstimos Ativos</h1>
<ul>
  {% for emprestimo in emprestimos_ativos %}
    <li>
      {{ emprestimo.aluno }} <br> {{ emprestimo.livro }} <br> {{ emprestimo.data_emprestimo }} <br> até {{ emprestimo.data_devolucao }}
      -
      <a href="{% url 'confirmar_devolucao' emprestimo.id %}">Registrar devolução</a>
    </li>
  {% empty %}
    <li>Nenhum empréstimo ativo.</li>
  {% endfor %}
</ul>

<hr>

<h1>Empréstimos Finalizados</h1>
<ul>
  {% for emprestimo in emprestimos_finalizados %}
    <li>
      {{ emprestimo.aluno }} <br> {{ emprestimo.livro }} <br> {{ emprestimo.data_emprestimo }} <br> {{ emprestimo.data_devolucao }}<br>
      ✅ Devolvido em: {{ emprestimo.data_devolvido }}
    </li>
  {% empty %}
    <li>Nenhum empréstimo finalizado.</li>
  {% endfor %}
</ul>
<a href="{% url 'home' %}">← Voltar para a Página Inicial</a>